{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/style/style.css' %}">
    <title>The Witcher 3: Wild Hunt</title>
  </head>
  <body>
    <div class="header">
     <ul class="menu">
       <li><a href="index.html">•Главная</a></li>
       <li><a target="_blank" href="https://vk.com/shadowlore">•Техническая поддержка</a></li>
       <br>
       <li><a href="catalog/index1.html">•Сюжет</a></li>
       <li><a href="catalog/index2.html">•Игровой процесс</a></li>
       <li><a href="catalog/index3.html">•Карта</a></li>
       <li><a href="catalog/index4.html">•Навыки и Преимущество</a></li>
       <li><a href="catalog/index5.html">•Системные Требования</a></li>
       <li><a href="catalog/index6.html">•DLC</a></li>
     </ul>
    </div>
    <div class="content">
    <h1>The Witcher 3: Wild Hunt</h1>
    <h2 class="ta">Ведьмак 3: Дикая Охота — третья игра серии Ведьмак, а также заключительная часть трилогии, разработанная польской компанией CD Projekt RED по мотивам серии романов «Ведьмак»</h2>
    <h3 class="cb">В центре сюжета новое вторжение Империи Нильфгаард, поиски Цири и конфликт с Дикой Охотой.</h3>
    <h4 class="cb">Выпущена компанией: <a style="text-decoration: none; color: red;" target="_blank" href="https://en.cdprojektred.com">CD PROJEKT RED</a></h4>
    <h4 class="cb">
        Режимы игры: <br>
       Однопользовательский<br>
    <h3><a style="text-decoration: none; color: red;" target="_blank" href="https://thewitcher.com/ru/witcher3/">Оффициальный сайт The Witcher 3</a></h3>
    <h1 class="bb"><a href="catalog/index1.html">Сюжет</a></h1>
    <p><img class="is" src="{% static 'main/img/D1.jpg' %}" alt="Сюжет"></p>
    <h1 class="bb"><a href="catalog/index2.html">Игровой процесс</a></h1>
    <p><img class="is" src="{% static 'main/img/D5.jpg' %}" alt="Игровой процесс"></p>
    <h1 class="bb"><a href="catalog/index3.html">Карта</a></h1>
    <p><img class="is" src="{% static 'main/img/D3.jpg' %}" alt="Карта"></p>
    <h1 class="bb"><a href="catalog/index4.html">Навыки и Преимущества</a></h1>
    <p><img class="is" src="{% static 'main/img/D4.jpg' %}" alt="Навыки и Преимущества"></p>
    <h1 class="bb"><a href="catalog/index5.html">Системные Требованя</a></h1>
    <p><img class="is" src="{% static 'main/img/D8.jpg' %}" alt="Системные требованя"></p>
    </div>
    <div class="footer">
      © Все права защищены. 2019-2022 <br>
    </div>
  </body>
</html>
